<hibernate-configuration>
  <session-factory>

    <!-- MySQL configuration -->
    <property name="connection.url">jdbc:mysql://<azure_mysql_host>:<azure_mysql_port>/<database_name>?useSSL=false&amp;serverTimezone=UTC&amp;characterEncoding=UTF-8</property>
    <property name="connection.username">your_mysql_username</property>
    <property name="connection.password">your_mysql_password</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="dbcp.poolPreparedStatements">true</property>
    <property name="dbcp.maxOpenPreparedStatements">20</property>

    <property name="hibernate.connection.charSet">UTF-8</property>
    <property name="hibernate.connection.useUnicode">true</property>
    <property name="hibernate.connection.characterEncoding">utf8</property>

  </session-factory>
</hibernate-configuration>
